# виртуальное окружение и байткод
.venv/
__pycache__/
*.pyc
*.pyo

# логи
*.log

# данные и временные файлы
data/*
!data/.gitkeep  # можно добавить пустой файл .gitkeep, чтобы папка отслеживалась

parser/results/*
!parser/results/.gitkeep

notebooks/*
!notebooks/.gitkeep

# IDE и системные файлы
.vscode/
.DS_Store

# исключения — то, что нужно в репозитории
!app.py
!requirements.txt
!README.md
!image.png
!dockerfile
!.dockerignore
!.github/
