.venv/
__pycache__/
*.pyc
*.pyo
*.pyd


.DS_Store
*.log


.ipynb_checkpoints/


.vscode/
.idea/


datasets/*

!datasets/air_pods5.xlsx

!/data/
!/analysis/
!/preprocess/
!/notebooks/
!/mini_app.py
!/requirements.txt
!/README.md
datasets/geo-reviews-dataset-2023.csv
